@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background: url("img/fundo.jpg");
  background-size: cover;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.centro {
  display: grid;
  place-items: center;
  margin: 20px 0px;
}

#espaco {
  margin: 10px 10px;
}

a {
  color: purple;
}

.quadro {
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 100px 100px 0 100px;
  border-radius: 50px;
}

input[type=submit] {
  background-color: #000;
  color: #fff;
  transition: all 0.5s ease;
  border-radius: 20px;
  padding: 20px 30px;
}

input[type=text], input[type=password] {
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  color: #000;
  transition: all 0.5s ease;
}

input[type=text]:hover, input[type=password]:hover {
  background-color: rgba(170, 153, 170, 0.6);
  color: #fff;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}